<div class="col-sm-2">
  <div class="form-group">
    <label for="survivor-name">Name</label>
    <div class="input-group">
      <input type="text" id="survivor-name" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Randomize" id="surivor-name-randomize"><i class="fa fa-random"></i></button>
      </span>
    </div>
  </div> <!-- /.form-group -->

  <div class="form-group">
    <label for="survivor-age">Age</label>
    <div class="input-group">
      <input type="text" id="survivor-age" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Randomize"  id="surivor-age-randomize"><i class="fa fa-random"></i></button>
      </span>
    </div>
  </div>  <!-- /.form-group -->

  <div class="form-group">
    <label for="survivor-sex">Sex</label>
    <div class="input-group">
      <input type="text" id="survivor-sex" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Randomize" id="surivor-sex-randomize"><i class="fa fa-random"></i></button>
      </span>
    </div>
  </div>  <!-- /.form-group -->
</div>
