<ul class="nav nav-pills" role="tablist">
  {% for tab in this.tabs %}
    <li role="presentation"{% if tab.active %} class="active"{% endif %}>
      <a href="#{{ tab.name }}" aria-controls="{{ tab.name }}" role="tab" data-toggle="pill">{{ tab.title }}</a>
    </li>
  {% endfor %}
</ul>
<div class="tab-content"></div>
